<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Log/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- Success API Logs -->
		<target xsi:type="File" name="apiSuccess"
				fileName="${basedir}/Log/ApiLogs/success-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${message}" />

		<!-- Error API Log -->
		<target xsi:type="File" name="apiError"
				fileName="${basedir}/Log/ApiLogs/error-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${message}|exception:${exception:format=tostring}" />

		<!-- System full - volume logs -->
		<target xsi:type="File" name="allfile"
				fileName="${basedir}/Log/nlog-all-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Project's own log -->
		<target xsi:type="File" name="ownFile"
				fileName="${basedir}/Log/nlog-own-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Login Log -->
		<target xsi:type="File" name="loginFile"
				fileName="${basedir}/Log/LoginLogs/login-${shortdate}.log"
				layout="${longdate}|User=${event-properties:user}|IP=${event-properties:ip}|${message}" />
	</targets>

	<rules>
		<!-- Full - volume logs -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!-- Ignore unimportant Microsoft logs -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<!-- Project's own log -->
		<logger name="*" minlevel="Trace" writeTo="ownFile" />

		<!-- Success API Logs -->
		<logger name="ApiSuccessLogger" minlevel="Info" writeTo="apiSuccess" />

		<!-- Error API Log -->
		<logger name="ApiErrorLogger" minlevel="Error" writeTo="apiError" />

		<!-- Login Log -->
		<logger name="LoginLogger" minlevel="Info" writeTo="loginFile" />
	</rules>
</nlog>
